.catfood
    .catfood__container
        b.catfood__title Ты сегодня покормил кота?
        .catfood__list
            article.catfood__item
                .catfood__card
                    .catfood__description
                        p.catfood__promo Сказочное заморское яство
                        h1.catfood__name Нямушка 
                            span.catfood__taste с фуа-гра
                        .catfood__content
                            p.catfood__portion 
                                span.catfood__portion-amount 10 
                                | порций
                            p.catfood__gift 
                                span.catfood__gift-amount мышь 
                                | в подарок
                            p.catfood__customer Заказчик доволен
                    .catfood__weight 0,5 кг
                p.catfood__foot Чего сидишь? Порадуй котэ, 
                    a(href="") купи
