extends template

block title 
    title Тестовое для FunBox

block content
    // Header
    include header/header

    // Index main content
    main.index-page
        include index/catfood

    // Footer
    include footer/footer
    
    script
      include ../js/product-item.min.js
